.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #1A3D34;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    align-items: center;
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease-in-out;
                
                &__p {
                    text-align: left;

                    a {
                        color: #fff;
                    }
                }

                ul {
                    padding-left: 24px;

                    li::marker {
                        content: "•";
                        font-size: 16px;
                        color: silver;
                        margin-right: 8px;

                    }

                    p {
                        text-align: left;
                        padding-top: 24px;
                        margin-left: 12px;

                    }
                }


                
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: heigth, .5s ease-in-out;
                }
            }
        }
    }
}