.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(93, 151, 143, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: backgroud-color, 3s ease;
    z-index: 1000;

    &--is-hidden {
        background-color: transparent;
        transition: backgroud-color, .5s ease;

        .header {
            &__container {
                &--logo {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .5s ease;
                }
            }
        }
    }

    &__container {
        &--logo {
            max-width: 180px;
        }
    }

    &__nav {
        &--btn {
            text-decoration: none;
            color: #fff;
            padding: 10px 15px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            margin-left: 10px;
            transition: background 0.3s;

            &:hover {
                background: #a09b6e;
            }
        }
    }
}