@use 'variaveis';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: variaveis.$corFundoHeader;
    color: variaveis.$corTextoPrincipal;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: backgroud-color, 1.5s ease;
    z-index: 1000;

    &--is-hidden {
        background-color: transparent;
        transition: backgroud-color, .5s ease;

        .header {
            &__container {
                &--logo {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .5s ease;
                    
                }
            }
        }
    }

    &__container {
        &--logo {
            max-width: 180px;
            margin-top: 12px;
        }
    }

    &__nav {
        &--btn {
            text-decoration: none;
            color: variaveis.$corTextoPrincipal;
            padding: 10px 15px;
            background: variaveis.$corFundoBotao;
            border-radius: 5px;
            margin-left: 10px;
            transition: background 0.3s;

            &:hover {
                background: variaveis.$corFundoSecundario;
            }
        }
    }
}