.hero {
    background-image: url(../images/dune_background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

    &__overlay {
        &--img {
            max-width: 720px;
            margin: 80px 0;
        }
    }

    @media (max-width: 767px) {
        background-image: url(../images/dune_background_2.jpg);
        height: 40vh;
        background-size: contain;
        background-repeat: no-repeat;

        &__overlay {
            &--img {
                display: none;
            }
        }
    }

    @media (max-width: 1023px) {
        background-size: contain;
        background-repeat: no-repeat;
        &__overlay {
            &--img {
                max-width: 360px;
            }
        }
    }
}