.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/dune_background.jpg);
    
    background-size: contain;
    background-repeat: no-repeat;
    

    &__overlay {
        &--img {
            max-width: 720px;
            margin-bottom: 80px;
        }
    }

    @media (max-width: 767px) {
        background-image: url(../images/dune_background_2.jpg);
        min-height: 80vh;
        background-size: contain;
        background-repeat: no-repeat;

        &__overlay {
            &--img {
                display: none;
            }
        }
    }

    @media (max-width: 1023px) {
        height: 62vh;
        background-size: contain;
        background-repeat: no-repeat;

        &__overlay {
            &--img {
                max-width: 360px;
                margin-bottom: 180px;
            }
        }
    }
}