$corFundoBody: #102A25;
$corTextoPrincipal: #fff;

$corFundoHeader: rgba(34, 34, 34, 0.8);
$corFundoBotao: rgba(0, 0, 0, 0.5);
$corFundoSecundario: #1A3D34;

$corFundoRodape: #333;
$corTextoSecundario: silver;



