@use 'header';
@use 'hero';

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgb(93, 151, 143);
    color: #333;
    padding-top: 80px; /* Para compensar o header fixo */
}

.content {
    padding: 24px 0;
    &__title {
        text-align:  center;
        padding-bottom: 14px;
    }

    &__section {
        padding: 0 5.6vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;

        &--img {
            margin-left: 100px;
        }

        &--text {
            p {
                padding-top: 5px;
            }
        }
    }
}

.content img {
    max-width: 50%;
    border-radius: 10px;
}

.faq {
    padding: 50px;
    background: #fff;
}

.faq details {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: silver;
}
