@use 'header';
@use 'hero';
@use 'char';
@use 'faq';
@use 'menu-toggler';
@use 'variaveis';
@use 'content';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
}

body {
    line-height: 1.6;
    background-color: variaveis.$corFundoBody;
    color: variaveis.$corTextoPrincipal;
    padding-top: 80px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: variaveis.$corFundoRodape;
    color: variaveis.$corTextoSecundario;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(12px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(10px);
    }
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(28px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(20px);
    }
}