@use 'header';
@use 'hero';
@use 'shows';
@use 'faq';

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
}

body {
    line-height: 1.6;
    background-color: #102A25;
    color: #fff;
    padding-top: 80px; /* Para compensar o header fixo */
}

.content {
    padding: 5.6vw;
    &__title {
        text-align:  center;
        padding-bottom: 14px;
    }

    &__section {
        padding: 0 5.6vw;
        display: grid;
        grid-template-columns: .5fr 1fr;
        align-items: center;
        gap: 20px;

        &--img {
            justify-self: center;
            align-self: center;
            max-width: 50%;
            border-radius: 10px;

            &:hover {
                transform: scale(1.1);
                transition: scale, .5s ease;
            }
        }

        &--text {
            transition: scale, .5s ease;
            &:hover {
                transform: scale(1.1);
                padding: 5px;
                border-radius: 10px;
                box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
                transition: scale, .5s ease;
            }

            p {
                padding-top: 5px;
            }
        }
    }
}

.faq {
    padding: 50px;
}

.faq details {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: silver;
}
